.students {
    width: 100%;
    background-color: #BFFFBF;
    min-height: calc(100vh - 80px);
    margin-top: 50px;
    display: flex;
}

.students-wrapper {
    width: 90%;
    margin: 10px auto 60px auto;
}

.students-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: green;
}

.students-search {
    width: 100%;
}

.students-search form {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.students-search form input[type='text'] {
    width: 80%;
    min-height: 30px;
    border: none;
}

.students-search form input[type='text']:focus {
    outline: dotted green 2px;
}

.students-search form input[type='submit'] {
    width: 20%;
    min-height: 30px;
    background-color: green;
    color: #ffffff;
    border: none;
}

.students-search form input[type='submit']:hover {
    color: green;
    background-color: #ffffff;
    border: dotted 2px green;
    cursor: pointer;
}

.students-search-result {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #ffffff;
    height: fit-content;
    width: 98%;
    padding: 5px;
}

.students-search-result > p {
    width: 30%;
    margin: 0;
}


.students-search-result-title {
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    height: fit-content;
    width: 98%;
    padding: 5px;
    font-weight: bold;
}

.students-search-result-title > p {
    width: 30%;
    margin: 0;
}


.students-search-result > p {
    width: 30%;
}

.students-search-result > img {
    width: 20%;
}

.students-show-students-list button {
    width: 100%;
    min-height: 30px;
    background-color: green;
    color: #ffffff;
    border: none;
}

.students-show-students-list button:hover {
    color: green;
    background-color: #ffffff;
    border: dotted 2px green;
    cursor: pointer;
}

.students-student {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #ffffff;
    height: fit-content;
    width: 98%;
    padding: 5px;
}


.students-student-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    height: fit-content;
    width: 98%;
    padding: 5px;
    font-weight: bold;
}

.students-student-title > p {
    width: 30%;
    margin: 0;
}


.students-student > p {
    width: 30%;
}

.students-student > img {
    width: 20%;
}

.students-student:hover {
    background-color: transparent;
    border: dotted 2px green;
}

.students-my-profile button {
    background-color: green;
    color: #ffffff;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.students-my-profile button:hover {
    background-color: transparent;
    border: dotted 2px green;
    cursor: pointer;
}

.students-student img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.students-student button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    border: none;
}

.students-student button:hover {
    cursor: pointer;
}

.students-search-result:hover {
    background-color: transparent;
    border: dotted 2px green;
}

.students-search-result button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    border: none;
}

.students-search-result button:hover {
    cursor: pointer;
}

.p1 {
    display: none;
    font-weight: bold;
}

@media screen and (max-width: 460px) {
    .students-search-result {
        flex-direction: column;
    }

    .p1 {
        display: flex;
    }
}

@media screen and (max-width: 300px) {
    .students-search form input[type='text'] {
        width: 65%;
    }
    .students-search form input[type='submit'] {
        width: 35%;
    }
}

@media screen and (max-width: 458px) {
    .students {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 260px) {
    .students {
        padding-top: 30px;
    }   
}

@media screen and (max-width: 230px) {
    .students {
        padding-top: 50px;
    }
}